@font-face{  
  font-family: "7barSp";
  src: local("7barSp"),
       url("res/7barsp.ttf");
}
body,#container{
    margin:0;
    height:100%;
    width:100%;
    background-color:black;
}
#container{
    margin:auto;
}